<div class="page-container">
  <h2>Оплата наличными</h2>
  <ng-container *ngIf="drink; else noDrink">
    <p>Сумма к оплате: {{ drink.price }} ₽</p>
    <p>Внесено: {{ drinkStateService.paidAmount }} ₽</p>
    <small>Удерживая Ctrl, введите число и нажмите Enter.</small>
  </ng-container>
  <ng-template #noDrink>
    <p>Выберите напиток</p>
    <p-button
      class="custom-button"
      [style]="{width: '100%'}"
      (onClick)="router.navigate(['/'])"
    >
      Главная
    </p-button>
  </ng-template>
</div>
